<h1><%= @shelter.format_shelter_info %></h1>


<h2>Statistics</h2>
<p>Number of Pets that have been adopted: <%= @shelter.total_adopted_pets %></p>
<p>Number of Pets available for adoption: <%= @shelter.number_adoptable_pets %> </p>
<p>Average Pet Age for Adoptable Pets: <%= @shelter.average_age %> </p>


<h2>Action Required</h2>
<ul>
  <% @shelter.action_required.each do |pet| %>
    <li><%= pet.name %></li>
  <% end %>
</ul>
